<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="voluntarios-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Voluntario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img *ngIf="voluntario.avatar != ''" [src]="voluntario.avatar" />
    <img *ngIf="voluntario.avatar == ''" src="./assets/img/person-outline.svg" />
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ voluntario.street_address }}</ion-card-subtitle>
      <ion-card-title
        >{{ voluntario.first_name }} {{ voluntario.last_name }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      {{ voluntario.description }}
      <div>
        <br />
        <ion-icon slot="start" name="call"></ion-icon> {{ voluntario.phone }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
