<!--Menu component-->
<app-menu></app-menu>

<!--Header-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Voluntarios</ion-title>
      <ion-buttons slot="end" padding>
        <ion-button (click)="goEditVoluntarioPage()">
          <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="warning">
      <ion-searchbar
        inputmode="search"
        animated
        placeholder="Buscar Voluntario....."
        (ionChange)="buscarVoluntario($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!--Body-->
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let user of voluntariosService.getVoluntarios() | async | filtro:buscarTexto"
      >
        <ion-avatar slot="start">
          <img
            *ngIf="user.avatar != ''"
            [src]="user.avatar"
            (click)="goVoluntarioPage(user.id)"
          />
          <img
            *ngIf="user.avatar == ''"
            src="./assets/img/person-outline.svg"
          />
        </ion-avatar>
        <ion-label (click)="goVoluntarioPage(user.id)">
          {{ user.last_name }} {{ user.first_name }}
          <h3>{{ user.phone }}</h3>
          <p>{{user.street_address}}</p>
        </ion-label>
        <ion-icon
          name="pencil-outline"
          color="warning"
          size="small"
          (click)="goEditVoluntarioPage(user.id)"
        ></ion-icon>
        &nbsp;
        <ion-icon
          name="trash-outline"
          color="warning"
          size="small"
          (click)=" presentAlertConfirm(user)"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
