<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="adultos-mayores-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Adulto Mayor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-avatar>
    <img *ngIf="adultoMayor.avatar != ''" [src]="adultoMayor.avatar"/>
    <img *ngIf="adultoMayor.avatar == ''" src="./assets/img/person-outline.svg"/>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ adultoMayor.street_address }}</ion-card-subtitle>
      <ion-card-title>{{ adultoMayor.first_name }} {{ adultoMayor.last_name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ adultoMayor.description }}
      <div>
        <br>
        <ion-icon slot="start" name="call"></ion-icon> {{ adultoMayor.phone }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
