  
  <!--Menu Ionic component -->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="goAdultoMayoresPage()">
          <ion-icon name="accessibility-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Adulto Mayor</ion-label>
        </ion-item>
        <ion-item (click)="goVoluntariosPage()">
          <ion-icon name="person-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Voluntario</ion-label>
        </ion-item>
        <ion-item (click)="goFormularioPage()">
          <ion-icon name="clipboard-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Formulario de la visita</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

